body {
    font-family: 'Aleo', sans-serif;
}

.text {
    display: flex;
    justify-content: space-around;
    margin: 3%;

}

.page {
    margin: 3%;

}

.hexagon {
    background-color: black;
}

.hexagon:hover{
    background-color: white;
    transition: 0.2s ease-in;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
    transform: rotateZ('90');

}

.rotate {
    transform: rotateZ('90');
}