body {
    font-family: 'Aleo', sans-serif;
    background-color: #F5F2EB;

}
h1 {
    font-size: 100px;
    margin: 0px 30px;
}
h2 {
    margin: 0px 35px;
}

.titlesec {
    margin-top: 100px;
}

.title {
    font-weight: 700;

}
.centertext {
    text-align: center;
}

.name {
    font-size: 40px;
    margin: 0px;
    margin-bottom: 130px;
    font-weight: 400;

}

.date {
    text-align: right;
    margin-right: 20px;
}
.btext {
    font-size: large;
    width: 43%;
}
.pquote {
    text-align: center;
    font-size: larger;
    margin-top: 200px;
    margin-left: -10px;
    font-size: x-large;
    width: 500px;
}

.flex {
    display: flex;
    justify-content: space-around;

}

@media(max-width: 600px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
    .btext {
        width: 80%;
        margin-left: 5%;
    }
    .pquote {
        width: 80%;
        margin-left: 10px;
        margin-top: 50px;
    }
}