@font-face {
    font-family: 'Metamor Bit_Trial';
    src: url('fonts/metamor/MetamorBit_Trial-Regular.woff2') format('woff2'),
        url('fonts/metamor/MetamorBit_Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    width: 100vw;
    font-family: 'Metamor Bit_Trial';
}

.header {
    height: 50px;
    background-color: pink;
}

.topbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.miniitem {
    width: auto;
    height: 40px;

}

.title {
    font-size: 50px;
    align-self: center;
    color: #BB894C;
}

hr {
    margin: 0 0 0 0;
}

img {
    width: 230px;
    height: auto;

}

.instruction {
    color: #BB894C;
    font-size: 50px;
    width: 500px;
    margin-left: 100px;
}

.arrowdown {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #BB894C;
    align-self: center;

}

.alignright {
    justify-self: center;
}
.alignleft {
    justify-self: center;
}
.center {
    justify-self: center;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70vh;
}

#collection {
    grid-column-start:2;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    
}

h1 {
    font-family: 'Alfa Slab One', sans-serif;
    margin-bottom: 100px;
    /* margin-top: 150px; */
    text-align: center;
    font-size: 80px;

}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 60px;
}

#balloon {
    height: 50px;
}

.buttons {
    margin-left: 80px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.easy {
    width: auto;
    margin-left: 20px;
    grid-column-start:1;
    background-color: #F5D9D9;
    border: 10px solid #F5D9D9;
    border-radius: 10px;
}
.hard {
    width: auto;
    margin-left: 20px;
    grid-column-start:2;
    background-color: #F5D9D9;
    border: 10px solid #F5D9D9;
    border-radius: 10px;


}

input {
    margin:  50px 0px 20px 0px ;
    border: 2px solid #97662E;
}

/* .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
} */

/* .challenge {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;

} */

/* body {
    width: 98vw;
    margin: 10px 10px 10px 10px;
    border: 3px black solid;
} */

hr {
    border: 2px black solid;
}



/* .description {
   position: absolute;
   top: 200px;
   left: 25vw;
   z-index: 2;

    
} */

/* .image {
    position: absolute;
    z-index: 1;
    top: -50px;
    right: 0px;
} */

.exit {
    color:rgb(68, 38, 56);
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}

.highlight {
    background-color: pink;
    border: 3px black solid;
    border-radius: 20px;
    width: 15vw;
    height: 100px;
    display: flex;
    overflow: scroll;
    margin-top: -200px;
    z-index: -1h;

}

.object {
    width: 30vw;
    height: auto;
    background-color:rgb(143, 203, 143);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 60px;
    overflow: wrap;
}

.des {
    width: 30vw;
    height: auto;
    background-color:rgb(193, 237, 193);
    border: 5px solid rgb(193, 237, 193);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;
    overflow: wrap;
    font-size: 20px;
}

.text {
    color: red;
    font-size: 10px;
    margin-left: 2px;
}

.cutout {
    width: 200px;
    display: none;
}
.blackout {
    width: 200px;
    display: block;
}

.check {
    /* margin-top: 100px; */
    margin-top: 50px;
    margin-bottom: 100px;
    height: 50px;
    margin-left: 600px;
    background-color: pink;
}

@media(max-width: 600px) {
    body {
        width: 100vw;
    }

    .topbar {
        gap: 5px;
    }

    .header {
        width: 100vw;
    }
    .title {
        font-size: 20px;
    }

    .topbar {
        width: 100vw;
    }

    .instruction {
        font-size: 20px;
        width: 100vw;
        margin-left: 0px;
        text-align: center;
    }

    .check {
        margin-left: 25vw;
    }
    #collection {
        width: 100vw;
        grid-column-start:2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .challenge {
        text-align: center;
    }

    .highlight {
        width: 70vw;
        height: 270px;
        font-size: 20px;
        margin-left: -50px;
        

    }
    .object {
        width: 30vw;
        height: auto;
        font-size: 30px;

    }

    
    .input {
        width: 40vw;
    }
    .des {
        width: 50vw;
        height: auto;
        font-size: 20px;

    }

    h1 {
        color: red;
    }

    .cutout {
        display: none;
    }

    .image {
        width: 100px;
        position: absolute;
        left: 200px;
    }

    .intro {
        height: 30vh;
    }


}



/* img {
    opacity: 1;
} */

.highlight  {
    display: none;
}

/* img:hover + .description{
    display: block;
} */

/* .display {
    display: block;
} */

/* .none {
    opacity: 0;;
} */



/* .description:hover  {
    opacity: 1;
}