img {
    width: 230px;
    height: auto;

}

#collection {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    
}

h1 {
    font-family: 'Alfa Slab One', sans-serif;
    margin-bottom: 100px;
    margin-top: 30px;
    text-align: center;
    font-size: 100px;

}

.wrapper {
    display: grid;
    justify-content: space-around;
}

#balloon {
    height: 50px;
}