img {
    width: 230px;
    height: auto;

}

#collection {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    
}

h1 {
    font-family: 'Alfa Slab One', sans-serif;
    margin-bottom: 100px;
    /* margin-top: 150px; */
    text-align: center;
    font-size: 80px;

}

.wrapper {
    display: grid;
    justify-content: space-around;
    margin-top: 60px;
}

#balloon {
    height: 50px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
}

.challenge {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;

}

body {
    width: 98vw;
    margin: 10px 10px 10px 10px;
    border: 3px black solid;
}

hr {
    border: 2px black solid;
}

.item1 {
    position: absolute;
    top: 0;
    left:0
}

.item2 {
    position: absolute;
    top: 270px;
    right:0
}
.item3 {
    position: absolute;
    top: 0;
    right:0
}
.item4 {
    position: absolute;
    top: 250px;
    left:0
}

.description {
   position: absolute;
   top: 200px;
   left: 25vw;
   z-index: 2;

    
}

.image {
    position: absolute;
    z-index: 1;
    top: -50px;
    right: 0px;
}

.exit {
    color:rgb(68, 38, 56);
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}

.highlight {
    background-color: pink;
    border: 3px black solid;
    border-radius: 20px;
    width: 50vw;
    height: 300px;
    display: flex;
    overflow: scroll;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -100px;

}

.object {
    width: 30vw;
    height: auto;
    background-color:rgb(143, 203, 143);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 60px;
    overflow: wrap;
}

.des {
    width: 30vw;
    height: auto;
    background-color:rgb(193, 237, 193);
    border: 5px solid rgb(193, 237, 193);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;
    overflow: wrap;
    font-size: 20px;
}

.text {
    margin-left: 2px;
}

@media(max-width: 600px) {
    #collection {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 20px;
    }

    .challenge {
        text-align: center;
    }

    .highlight {
        width: 70vw;
        height: 270px;
        font-size: 20px;
        margin-left: -50px;
        

    }
    .object {
        width: 50vw;
        height: auto;
        font-size: 30px;

    }
    
    .des {
        width: 50vw;
        height: auto;
        font-size: 20px;

    }

    h1 {
        color: red;
    }

    .cutout {
        display: none;
    }

    .image {
        width: 100px;
        position: absolute;
        left: 200px;
    }


}

@media(max-width: 1000px) {
    #collection {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 20px;
    }

    .item1, .item2 {
        opacity: 0;
    }

}

@media(max-width: 800px) {
    #collection {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
    }

    

}

/* img {
    opacity: 1;
} */

.highlight  {
    display: none;
}

/* img:hover + .description{
    display: block;
} */

/* .display {
    display: block;
} */

/* .none {
    opacity: 0;;
} */



/* .description:hover  {
    opacity: 1;
}