body {
    font-family: 'Aleo', sans-serif;
    height: 800px;
    overflow: hidden;
}

.spanish {
    display: flex;
    margin: 2%;
    justify-content: space-around;
}

.text {
    margin: 3%;
}

@media(max-width: 600px) {
    .spanish {
        display: flex;
        flex-direction: column;

    }
}