
body {
    margin: 0 0 0 0;
}

.header {
    margin: -30 0 0 0;
    padding: 30 0;
    height: 60px;
    background-color:#524FFF;
    width: 100vw;

}

.logo {
    background-color: #57AA49;
    width: 220px;
    font-family: 'Imbue', Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    font-weight: 900;
    border-radius: 15px;
    text-align: center;
    margin-top: -30px;
    margin-left: 40vw;
    margin-bottom: 0;
}

.arrowleft {
    border: solid #76ADFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    justify-content: flex-start;
    zoom: 2;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.arrowright {
    border: solid #76ADFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin: 0 auto;
    text-align: right;
    zoom: 2;
    margin-left: 15px;
    margin-top: 10px;
}

.zoom {
    zoom: 5;
}

.mainarea {
    height: 100vh;
    background-color: #FFF72D;
}

.name {
    font-family: 'Chelsea Market', Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin-top: 0;
    color: #524FFF;
    text-align: center;
}

.scrollarea {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.icon {
    margin-top: -25vh;
    width: 900px;
}

.color {
    background-color: red;

}

.tabsection {
    width: 100vw;
    font-family: 'Chelsea Market', Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: -250px;
}

.tabtext {
    font-size: 80px;
    color: #524FFF;
}

.hamburger {
    width: 50px;
    margin-left: 95vw;
    margin-top: -70px;
}

.nameentry {
    font-family: 'Imbue', Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 40px;
    margin-left: 100px;
    display: none;
}

.tab1:hover {
    cursor: pointer;
}
.tab3:hover {
    cursor: pointer;
}

@media(max-width: 600px) {

    .icon {
        margin-top: -50px;
        margin-left: 20px;
        width: 300px;
        margin-top: -90px;
    }

    .name {
        font-size: 80px;
    }

    .tabtext {
        margin-top: 0px;
        font-size: 30px;
    }

    .mainarea {
        height: 100vh;
    }

    .logo {
        margin-top: 0px;
        margin-left: 50px;
    }

    .hamburger {
        margin-left: 450px;
    }
    .nameentry {
        font-size: 40px;
        margin-left: 20px;
    }
    .arrowleft {
        margin-top: -50px;
    }
    .arrowright {
        margin-top: -190px;
        margin-left: 0px;
    }
}