* {
	box-sizing: border-box;
}

body {
	background: black;
	margin: 0;
}

.canvas {
	max-width: 900px;
	height: 550px;
	margin: 100px auto;
	background: white;
	position: relative;
	overflow: hidden;
}

.tableperspective {
	perspective: 100px;
	perspective-origin: -60%;
}

.table {
	width: 2000px;
	height: 500px;
	background: brown;
	position: absolute;
	top: 750px;
	left: 1000px;
	transform: rotateX( 45deg);


}

.circle {
	border-radius: 50%
}

.egg {
	position: absolute;
	top: 290px;
	left: 230px;	
	width: 115px;
	height: 115px;

}

.egggrad {
	background-image: radial-gradient(
    farthest-corner at 70px 40px,
    rgb(254, 223, 148) 0%,
    rgb(68, 64, 61) 100%
  );
}

.eball{ 
	background: rgb(0, 0, 0);
	position: absolute;
    left: 550px;
    top: 250px;
	width: 100px;
	height: 100px;

}

.plateperspective {
	perspective: 1000px;
	perspective-origin: -200%;
}
.plate {
	width: 150px;
	height:50px;
	background: grey;
	transform: rotateX( 45deg);
	position: absolute;
	top: 325px;
	left: 530px;
}

.lamptop {	
	position: absolute;
	top: 150px;
	left: 400px;
	width: 180px;
	height: 100px;
	background: linear-gradient(0deg, rgb(205, 145, 96) 50%, grey);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}

.lampbody {
	width: 65px;
	height: 180px;
	background: linear-gradient(0deg, rgb(153, 122, 73) 60%, rgb(255, 252, 178));
	position: absolute;
	top: 250px;
	left: 460px;
}

.perfume {
	height: 80px;
	width: 60px;
	background: grey;
	position: absolute;
    left: 420px;
    top: 280px;

}

.perfumetop {
	background: rgb(236, 195, 135);
	width: 20px;
	height: 20px;
	position: absolute;
	left: 450px;
    top: 260px;
}


.tape {
	position: relative;
	width: 50px;
	height: 80px;
	margin: 20px 0;
	background: rgb(45, 53, 107);
	border-radius: 68% / 10%;
	color: white;
	text-align: center;
	text-indent: .1em;
	left: 600px;
	top: 300px;
  }
  .tape:before {
	content: '';
	position: absolute;
	top: -12%;
	bottom: -11%;
	right: -5%;
	left: -5%;
	background: inherit;
	border-radius: 30% / 89%
  }

  .tapeside {
	background:rgb(236, 195, 135);
	height: 80px;
	width: 15px;
	position: absolute;
	top:320px;
	left: 600px;
  }