@font-face {
    font-family: 'Fraunces';
    src: url('assets/franuces/Fraunces-9ptBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Fraunces', serif;
    font-size: 16px;
  }

.heading {
    text-align: center;
    line-height: 10%;
    font-weight: 700;
}

.centertext {
    text-align: center;
}

.content {

}

.left {
    text-align: left;
}

.right {
    margin-left: 30px;
}