/* @font-face {
    font-family: 'Fraunces';
    src: url('assets/fraunces/Fraunces-9ptBlack.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
} */

body {
    font-family: 'Fraunces', serif;
    font-size: 30px;
  }

  .title {
    text-align: center;
    margin-bottom: 70px;
  }

.chap {
    margin-top: 20px;
    border-bottom: 1px solid black;
    font-weight: 200;
}
