body {
    font-family: 'Fraunces', serif;
    font-size: 30px;
  }

.title {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}

.chap {
    text-align: left;
    border-bottom: 3px solid pink;
    font-weight: 400;

}

span {
    font-weight: 200;
}